body{
    font-family: 'Lora', serif;
}
.top-part{
    display: flex;
    background:rgba(221, 218, 218, 0.788);
    background-size: 100% 100%;
    padding:5%;
}
.head1{
    color:yellowgreen;
}
.head2{
    color:tomato;
}
.left1{
    width: 50%;
}
.right1{
    width: 50%;
}
.right1 img{
    width: 80%;
    float: right;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
    padding-left:10%;
}
p{
    text-align: justify;
    font-size: 20px;
}
.link-button{
    padding-top: 5%;
}
.link-button a{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color:white;
    font-weight: 700;
    padding:10px 40px;
    border-radius: 10px;
}
.middle-part{
    display: flex;
    background:url(images/Frame.jpg);
    background-size: 100% 100%;
}
.left2{
    width:50%;
    padding:5%;
}
.left2 img{
    width:100%;
}
.right2{
    width:50%;
    padding: 5%;
}
.right2 h2{
    text-align: center;
}
.third-part{
    background: whitesmoke;
    background-size: 100% 100%;
}
.recipi{
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
.food-item{
    display: flex;
    margin:2%;
}
.item1{
    box-shadow: gray 10px 10px 30px;
    width: 300px;
    border: 15px;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.item2{
    box-shadow: gray 10px 10px 30px;
    width: 300px;
    border: 15px;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.item3{
    box-shadow: gray 10px 10px 30px;
    width: 300px;
    border: 15px;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.food-item img{
    width:100%;
    margin:2%;
    border-radius: 15px;
}
footer{
    text-align: center;
    background: black;
    padding: 2%;
}
.foot1{
    color: yellowgreen;
    font-size: 25Px;
}
.foot2{
    color: tomato;
    font-size: 25Px;
}
.foot3{
    color: white;
    text-align: center;
    font-size: 15px;
}